#include "resource.h"

LANGUAGE_DETECTOR_WORDLIST_DA TEXTFILE "Res\\WordLists\\da"
LANGUAGE_DETECTOR_WORDLIST_DE TEXTFILE "Res\\WordLists\\de"
LANGUAGE_DETECTOR_WORDLIST_EN TEXTFILE "Res\\WordLists\\en"
LANGUAGE_DETECTOR_WORDLIST_ES TEXTFILE "Res\\WordLists\\es"
LANGUAGE_DETECTOR_WORDLIST_FR TEXTFILE "Res\\WordLists\\fr"
LANGUAGE_DETECTOR_WORDLIST_IT TEXTFILE "Res\\WordLists\\it"
LANGUAGE_DETECTOR_WORDLIST_NB TEXTFILE "Res\\WordLists\\nb"
LANGUAGE_DETECTOR_WORDLIST_PL TEXTFILE "Res\\WordLists\\pl"
LANGUAGE_DETECTOR_WORDLIST_PT TEXTFILE "Res\\WordLists\\pt"
LANGUAGE_DETECTOR_WORDLIST_SV TEXTFILE "Res\\WordLists\\sv"
